
.box {
    height: 180px;
    line-height: 180px;
    background-color: pink;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding: 5px;
}

.box-nested {
    height: 180px;
    font-size: 14px;
    background-color: violet;
    border: 1px solid white;
}